.trackyour {
    display: flex;
    background-color: rgb(197, 193, 193);
    padding: 10px;
    margin-top: 10px;
    justify-content: center;
}

.bpf {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 20px;
    padding-top: 10px;
    text-align: center;

}

.software {
    display: flex;
    padding-top: 120px;
    font-size: 20px;
    text-align: center;
}

.homepage {
    display: flex;
    flex-direction: column;
}

.cardText {
    font-family: ;
}

.bigdivstyle {
    display: flex;
    flex-direction: column;
}